main{
    display: flex;
    height: 100vh;
}

.side-bar{
    position: fixed;
    width: 12%;
    height: 100%;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: black;
}

.info-page{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    margin-left: 12%;
}

.circle-image{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 10px;
}

.headshot{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

body,html{
    margin: 0;
    padding: 0;
}

h2{
    font-size: 19px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
    color:beige;
}

hr{
    height: 1px;
    width: 90%;
    margin: auto;
    background-color: rgb(131, 124, 137);
}

h4{
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 700px;
    color:beige;
}

.checkbox-section{
    display: flex;
    flex-direction: column;
}

.checkbox-section div {
    margin-left: 12px;
    margin-bottom: 10px;
}

ul{
    list-style: none;
    padding-left: 20px;
}

li{
    margin-bottom: 10px;
    font-size: 13px;
    color:beige;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.check-box-1{
    margin-top: 10px;
}

label{
    font-size: 13px;
    color:beige;
}

.searchbar{
    width: 75%;
    height: 100%;
    display: flex;
}

.search-bar{
    height: 15%;
    display: flex;
}

.searchbar input{
    width: 99%;
    height: 100%;
    flex: 1;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.info-page header{
    height: 300px;
    border: 1px solid blue;
    border-top: none;
    background-image: url('./assets/theatre.jpg');
    background-size: cover;
    background-position: center center;
}

.search-buttons{
    height: 100%;
    width: 100px;
    border: none;
    border-right: 1px solid black;
}

.search-images{
    width: 15px;
    height: 15px;
}

.searchbar img{
    width: 25px;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 249, 246);
}
